
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* header styles starts here */
header{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    margin-left:250px ;
    margin-right: 280px;
    background-color: #fff;
    
 
}
header h1{
    font-size: 28px;
    font-weight: bolder;
    color: #0D1321;
}
header button{
    padding: 17px 24px;
    border-radius: 5px;
    box-shadow: none;
    background-color: yellow;
    color: #000000;
    border-color: black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
/* header styles end here */
/* banner-section-container styles starts here */
.banner-section-container{
    max-width: 1920px;
    height: 650px;
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.banner-container img {
    width: 300px;
    margin-bottom: 20px;
    margin-left: 780px;
    margin-right: 700px;
    margin-top: 20px;
}
.banner-container h1{
    font-size: 48px;
    margin-left: 300;
    margin-right: 300;
    margin-top: 10px;
}
.banner-container p{
    font-size: 18px;
    margin-top: 15px;
}
.button-second{
    padding: 21px 24px;
    font-size: 18px;
    background: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    border:none;
    cursor: pointer;
    margin-top: 20px;
}
/* banner-section-container styles ends here */
/* why web development section styles starts here */
.web-development-section{
    box-sizing: border-box;
    max-width: 1440px;
    display: flex;  
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    margin-top: 80px;
    background-color: #FAFAFB;
}
.container h1{
    font-size: 32px;
    color: #0D1321;
}
.container p{
    font-size: 16;
    margin-top: 20px;
    font-weight: normal;
    color: #555A63;
}
.world-coding-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    height: 336px;
    /* gap: 200px; */
    background-color: #fefefe;
}
.coding-one-title{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #555A63;
    text-align: justify;
    
}
.coding-one-description{
    color: #555A63;
    font-size: 16;
    text-align: justify;
}
.coding-one-button{
    padding: 12px 20px;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: 600;
    color: #555A63;
    text-align: justify;
    margin-right: 188px;
    /* background-color: #fefefe;
    border: 1 solid #555A63 ; */    
}
.world-coding-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 336px;
    margin-top: 30px;
    background-color: #fefefe;
}
.world-coding-two h1{
    font-size: 24px;
    display: flex;
    font-weight: bold;
    color: #555A63;
    text-align: justify;
  
}
.coding-two-description{
    display: flex;
    font-size: 16px;
    text-align: justify;
}
.world-coding-two button{
    padding: 12px 20px;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: 600;
    color: #555A63;
    text-align: justify;
    margin-right: 270px;
}
.world-coding-three{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 336px;
    margin-top: 30px;
    background-color: #fefefe;
}
.world-coding-three h1{
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #555A63;
    text-align: justify;
}
.coding-three-description{
    display: flex;
    font-size: 16px;
    text-align: justify;
}
.world-coding-three button{
    padding: 12px 20px;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: 600;
    color: #555A63;
    text-align: center;
    margin-right: 187px;

}

/* why web development section styles end here */


/* my-inspiration-section styles starts here */
.my-inspiration-section{
    box-sizing: border-box;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    margin-top: 80px;
    background-color: white;
}
.my-inspiration-section h1{
    font-size: 32px;
    font-weight: bolder;
}
.my-inspiration-section p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    color: #555A63;
}
.video{
    margin-top: 60px;
    box-sizing: border-box;
    
}
/* my-inspiration-section styles end here */

/* my-current-target styles starts here */
.my-current-target{
    box-sizing: border-box;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    margin-top: 80px;
    background-color: white;
    
}
.my-current-target h1{
    font-size: 32px;
    font-weight: bolder;
}
.my-current-target p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    color: #555A63;
}
.target-container{
    display: flex;
    margin-top: 60px;
    gap: 20px;
}
.html-container{
    height: 300px;
    background-color: #FFF6F4; 
    max-width: 33%;
    border-radius:10px ;  
}
.css-container{
    height: 300px;
    background-color: #F2F6FE;
    max-width: 33%; 
    border-radius:10px ; 
}
.java-container{
    height: 300px;
    max-width: 33%;
    background-color: #FFFDF2;
    border-radius:10px ;
}
.html-img{
    margin-top: 30px;
    margin-right: 300px;
}
.html-title{
    margin-right: 280px;
    margin-top: 10px;
    font-size: 24px;
}
.html-description{
    margin-right: 50px;
    display: flex;
    font-size: 16px;
    margin-left: 55px;
    text-align: justify; 
}
.html-container button{
    border: none;
    background-color: #fefefe;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 255px;
}
.css-img{
    margin-top: 30px;
    margin-right: 300px; 
}
.css-title{
    margin-right: 285px;
    margin-top: 10px ;
    font-size: 24px;
    
}
.css-description{
    margin-right: 50px;
    display: flex;
    font-size: 16px;
    margin-left: 60px;
    text-align: justify; 
}
.css-container button{
    border: none;
    background-color: #fefefe;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 255px;
}
.java-img{
    margin-top: 30px;
    margin-right: 300px; 
}
.java-title{
    margin-right: 215px;
    margin-top: 10px ;
    font-size: 24px;
}
.java-description{
    margin-right: 50px;
    display: flex;
    font-size: 16px;
    margin-left: 40px;
    text-align: justify; 
}
.java-container button{
    border: none;
    background-color: #fefefe;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 270px;
}
/* my-current-target styles end here */

/* my-next-target style starts here */
.my-next-target{
    box-sizing: border-box;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    margin-top: 80px;
    background-color: white; 
}
.my-next-target h1{
    font-size: 32px;
    font-weight: bolder
}
.my-next-target p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    color: #555A63;
}
.my-next-target-reactjs{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 60px;
    height: 250px;
    border: 2px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px;
}
.reactjs-img{
    max-width: 150px;
   margin-left: 250px;
}
.my-next-target-reactjs .reactjs-title{
    font-size: 24px;
    margin-right: 800px;

}
.my-next-target-reactjs .reactjs-description{
    font-size: 16px;
    font-weight: 400;
    margin-right: 100px;
    color: #555A63;
}
.my-next-target-reactjs button{
   font-size: 16px;
   font-weight: bold;
   text-decoration: none;
   border: none;
   background-color: #fefefe;
   margin-top: 20px;
   margin-right: 840px;
}
.my-next-target-nodejs{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 40px;
    height: 250px;
    border: 2px ;
    box-shadow: 0px 0px 2px; 
    border-radius: 5px;
}
.nodejs-img{
    max-width: 150px;
   margin-left: 250px;
}
.my-next-target-nodejs .nodejs-title{
    font-size: 24px;
    margin-right: 800px; 
}
.my-next-target-nodejs .nodejs-description{
    font-size: 16px;
    font-weight: 400;
    margin-right: 15px;
    color: #555A63;
}
.my-next-target-nodejs button{
   font-size: 16px;
   font-weight: bold;
   text-decoration: none;
   border: none;
   background-color: #fefefe;
   margin-top: 20px;
   margin-right: 820px;
} 
.my-next-target-mongodb{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 40px;
    height: 250px;
    border: 2px;
    box-shadow: 0px 0px 2px; 
    border-radius: 5px; 
}
.mongodb-img{
   max-width: 150px;
   margin-left: 250px;
}
.my-next-target-mongodb .mongodb-title{
    font-size: 24px;
    margin-right: 800px; 
}
.my-next-target-mongodb .mongodb-description{
    font-size: 16px;
    font-weight: 400;
    margin-right: 120px;
    color: #555A63;
}
.my-next-target-mongodb button{
   font-size: 16px;
   font-weight: bold;
   text-decoration: none;
   border: none;
   background-color: #fefefe;
   margin-top: 20px;
   margin-right: 820px;
} 
/*my-next-target style end here */

/* i-need-support style starts here */
.i-need-support{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    height: 400px;
    background-image: url("../assets/handshake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 70px;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 10px;
    
}
.i-need-support h1{
    font-size: 32px;
    font-weight: bold;
    color: yellow;
    text-align: center;
}
.i-need-support p{
    font-size: 16px;
    font-weight: 400;
    color: whitesmoke;
    text-align: center;
    margin-top: 25px;
}
.input-text{
    height: 55px;
    width: 548px;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 10px;
}
.i-need-support button{
    padding: 14px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}
.footer-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #F7F8F8;

}
/* i-need-support style end here */